@using BlazorStrap
@using Client.Shared
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Ошибка 404</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <BSContainer Container="Container.Fluid" Class="bg-dark bg-opacity-25">
                <BSRow Align="Align.Center" Justify="Justify.Center">
                    <BSCol ColumnSmall="4" Align="Align.Center" MarginTop="Margins.ExtraLarge">
                        <BSImage Source="img/travolta.png" IsFluid="true"/>
                    </BSCol>
                </BSRow>
                <h1 class="text-center text-light">А где контент? А нет его!</h1>
            </BSContainer>
        </LayoutView>
    </NotFound>
</Router>
